{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": true,
      "modules": true
    }
  },

  "plugins": [

  ],

  "rules": {
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", { "properties": "always" }],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "complexity": "off",
    "consistent-return": "off",
    "consistent-this": "off",
    "curly": ["error", "multi-line"],
    "default-case": "off",
    "dot-location": ["error", "property"],
    "dot-notation": "off",
    "eol-last": "error",
    "eqeqeq": ["error", "allow-null"],
    "func-names": "off",
    "func-style": "off",
    "generator-star-spacing": ["error", "both"],
    "guard-for-in": "off",
    "handle-callback-err": ["error", "^(err|error|anySpecificError)$" ],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": "off",
    "max-depth": "off",
    "max-len": ["error", 140, 4],
    "max-nested-callbacks": "off",
    "max-params": "off",
    "max-statements": "off",
    "new-cap": ["error", { "newIsCap": true, "capIsNew": false }],
    "newline-after-var": ["error", "always"],
    "new-parens": "error",
    "no-alert": "off",
    "no-array-constructor": "error",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-catch-shadow": "off",
    "no-cond-assign": "error",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "off",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "error",
    "no-empty": "off",
    "no-empty-character-class": "error",
    "no-eq-null": "off",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "off",
    "no-extra-semi": "off",
    "no-extra-strict": "off",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "off",
    "no-lonely-if": "off",
    "no-loop-func": "off",
    "no-mixed-requires": "off",
    "no-mixed-spaces-and-tabs": ["error", false],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "off",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-path-concat": "off",
    "no-plusplus": "off",
    "no-process-env": "off",
    "no-process-exit": "off",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-reserved-keys": "off",
    "no-restricted-modules": "off",
    "no-return-assign": "error",
    "no-script-url": "off",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-sync": "off",
    "no-ternary": "off",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-use-before-define": "error",
    "no-useless-concat": "error",
    "no-var": "error",
    "no-void": "off",
    "no-warning-comments": "off",
    "no-with": "error",
    "one-var": ["error", "never"],
    "operator-assignment": "off",
    "operator-linebreak": ["error", "after"],
    "padded-blocks": "off",
    "prefer-template": "off",
    "quote-props": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "radix": "error",
    "semi": ["error", "always"],
    "semi-spacing": "off",
    "sort-vars": "off",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
    "space-in-brackets": "off",
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": ["error", "always"],
    "strict": "off",
    "use-isnan": "error",
    "valid-jsdoc": "off",
    "valid-typeof": "error",
    "vars-on-top": "error",
    "wrap-iife": ["error", "any"],
    "wrap-regex": "off",
    "yoda": ["error", "never"]
  }
}
